@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Musiq Soulchild - "Future"</h1>
    <hr />
    <p>
        <em>Many</em> songs were considered for this submission before I finally settled on this one. &nbspSome might
        find its musical quality lacking (I personally wouldn't call it "flawless"), nor does it have much "dance value",
        but those aren't the reasons I listen to this song - it has a simpler purpose: it's become my "go-to" reminder to tune out the
        naysayers, something I've found myself doing pretty regularly lately.<hr />&nbsp

        Hope you enjoy...
    </p>

    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/SnuDnNljpIQ?controls=0&amp;start=17" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
